<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>Delete Task</h1></br>
        <a href="/newdeveloper">New Developer</a> 
        <a href= "/newtask">New Tasks</a>
        <a href= "/updatetask">Update Task Status</a>
        <a href="/deletebyid">Delete Tasks by ID</a>
        <a href="/deletecompleted">Delete Completed Tasks</a>
        <a href="/getalltask">Get All task</a> 
        <a href="/getalldeveloper">Get All Developer</a> </br>
        <br />
    <form action="/deletebyid" method="POST">
        Task ID <input type="text" method="POST" name="id" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>