<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <img src="logo.png" width="500" height="200" />
    <h1>WELCOME</h1> </br>
    <h1>
        <a href="/newdeveloper">New Developer</a> </br>
        <a href= "/newtask">New Tasks</a></br>
        <a href= "/updatetask">Update Task Status</a></br>
        <a href="/deletebyid">Delete Tasks by ID</a></br>
        <a href="/deletecompleted">Delete Completed Tasks</a></br>
        <a href="/getalltask">Get All task</a></br>
        <a href="/getalldeveloper">Get All Developer</a>     
      
    </h1>
    
</body>

</html>