<html>

<head>
    <style>
        table th,
        td {
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" href="/style.css" />

</head>

<body>
    <a href="/"> Home </a>
    <a href="/newdeveloper">New Developer</a> 
    <a href= "/newtask">New Tasks</a>
    <a href= "/updatetask">Update Task Status</a>
    <a href="/deletebyid">Delete Tasks by ID</a>
    <a href="/deletecompleted">Delete Completed Tasks</a>
    <a href="/getcompletedtask">Get Completed Task</a>  
    <a href="/getalltask">Get All task</a> 
    <a href="/getalldeveloper">Get All Developer</a> </br>
  
    <br />
    <table>
        <tr>
            <td>ID</td>
            <td>Task Name</td>
            <td>Assign to</td>
            <td>Due date</td>
            <td>Status</td>
            <td>Description</td>
        </tr>
        <% for (var i=0; i<task.length; i++){%>
        <tr>
            <td>
                <%= task[i]._id %>
            </td>
            <td>
                <%= task[i].taskName %>
            </td>
            <td>
                <%= task[i].assignto %>
            </td>
            <td>
                <%= task[i].due %>
            </td>
            <td>
                <%= task[i].status %>
            </td>
            <td>
                <%= task[i].description %>
            </td>
        </tr>
        <% } %>

    </table>
</body>

</html>