<html>

<head>
    <link rel="stylesheet" href="/style.css" />

</head>

<body>
    <h1>Enter New Developer:</h1>
    <a href="/newdeveloper">New Developer</a> 
    <a href= "/newtask">New Tasks</a>
    <a href= "/updatetask">Update Task Status</a>
    <a href="/deletebyid">Delete Tasks by ID</a>
    <a href="/deletecompleted">Delete Completed Tasks</a>
    <a href="/getalltask">Get All task</a>
    <a href="/getalldeveloper">Get All Developer</a> </br>
    <br />
    <form action="newdeveloper" method="POST">
        Name <input type= "text" name= "fname"/> <input type= "text" name= "lname"/>/<br/>
        Level<input type= "text" name= "level"/> <br/>
        Address<input type= "text" name= "state"/><input type= "text" name= "suburb"/><input type= "text" name= "street"/><input type= "number" name= "unit"/> <br/>
        <button>Submit</button>
    </form>
</body>

</html>